/*add head & link*/
/*<link href="https://fonts.googleapis.com/css?family=Neuton|Work+Sans" rel="stylesheet">*/



/* @font-face {
	font-family: 'Work Sans', Sans-Serif;
	font-size: 45px;
	
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
} */

body {
	background-color: #A8D0E6;
}

h1 {
	font-family:'Varela',Sans-Serif;
	font-size: 48px;
	color: white;
	background-color: #24305E;
	width: 100%;
	margin: 0px;
	padding: 25px;
	border-radius: 25px;
	/* height: 200px; */

}

/*<label class="filter-type" for="activityButton">Possible Activities</label>*/
/*<label class="filter-type" for="radiusFilter">Radius Filter (by KM)</label>*/
/*<label class="form-label filter-type" for="priceRange">Price Range</label>*/
/*<label class="filter-type" for="indoorCheck">Indoor vs Outdoor</label>*/
/*<label class="filter-type" for="moodSearchbar">Mood Search</label>*/
.form-group {
	width: 400px;
}

.col-md-4 {
	margin: 50px;
	background-color:#24305E;
	/* padding: 0px; */
	border-radius: 25px;
	padding-top: 10px;
}

h2 {
	color: white;
}

/*filter types*/
.filter-type {
	font-family: 'Varela Round', Sans-Serif;
	font-size: 30px;
	color: white;
	background-color: #F76C6C;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 30px;
}

/*activity*/
.btn .btn-secondary .btn-block {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	color: white;
	background-color: #f76c6c;
	height: 50px;
	border-radius: 25px;
}

/*price bar*/
.form-range {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	color: white;
	background-color: #f8e9a1;
	border-radius: 25px;
	color: grey;
}


.modal {
	background-color: #A8D0E6;
}

/*radius and mood*/
.form-control {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
}

.input-group-text {
	background-color: #f8e9a1;
	border: 0px;
	margin-bottom: 10px;
}


/*outdoor-indoor and activity buttons*/
.form-check {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	color: grey;
	background-color: #f8e9a1;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 30px;
	border-radius: 10px;
}

/*mood output*/

h5 {
	font-family: 'Varela Round', Sans-Serif;
	font-size: 25px;
	color: white;
	background-color: #24305E;
	border-radius: 25px;
	width: 500px;
	/* height: 200px; */
	padding: 30px;
}

.output-moods {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	color: #24305E;
	background-color: #A8D0E6;
	height: 75px;
}

